---
import Layout from '@/components/Layout.vue';
import ProfilePage from '@/components/ProfilePage.vue';
import '../styles/global.css'
import { supabase } from '@/lib/supabaseClient';

const { data } = await supabase.auth.getSession();

if (!data.session) {
  return Astro.redirect('/');
}
---

<Layout client:load>
  <div class="container page-container">
    <ProfilePage client:load />
  </div>
</Layout>
